body{
    
    text-align: center;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    text-align: right;
 
}

.bar a{
    text-decoration: none;
    margin-right: 1cm;
    color: beige;
}
.bar a:hover {
    color: rgb(194, 218, 242);
}
.txt{
    width: 15cm;
    height: 1.2cm;
    border-radius: 50px;
    border: none;
    text-align: center;
}
.shortcuts{
    display: flex;
    justify-content: center;

}
.shortcuts a{
    text-decoration: none;
    color: aliceblue;
    margin-right:2cm ;
    margin-left:2cm ;
}
.icon img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}